// colors-style
$primary-color900: #004275;
$primary-color700: #0269b8;
$primary-color500: #1f7fcb;
$primary-color300: #47b5ff;
$point-color: #ffc600;
$white-color: #fff;
$black-color: #333;


//btn-style
$btn-border: 20px;

$area: 50px 0;