<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="https://brcxx.github.io/brcxxportfolio/assets/images/icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:image" content="https://brcxx.github.io/brcxxportfolio/assets/images/1200x630-facebookShare.jpg" />
  <title>Bruce Huang網頁設計作品集｜Bruce Huang's Portfolio</title>
  <meta name="Title" content="Bruce Huang網頁設計作品集｜Bruce Huang's Portfolio" />
  <meta name="Description"
    content="電視台網頁設計師,網頁設計師,網頁設計,前端網頁,前端設計,行銷活動網頁,資料網頁,新聞網頁,切版,UI,UX,Design,website|brucePortfolio" />
  <meta name="Keywords"
    content="電視台網頁設計師,網頁設計師,網頁設計,前端網頁,前端設計,行銷活動網頁,資料網頁,新聞網頁,切版,UI,UX,Design,website|brucePortfolio" />
  <meta property="og:title" content="Bruce Huang網頁設計作品集｜Bruce Huang's Portfolio" />
  <meta property="og:description"
    content="電視台網頁設計師,網頁設計師,網頁設計,前端網頁,前端設計,行銷活動網頁,資料網頁,新聞網頁,切版,UI,UX,Design,website|brucePortfolio" />
  <meta property="og:image" content="https://brcxx.github.io/brcxxportfolio/assets/images/1200x630.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://brcxx.github.io/brcxxportfolio/" />
  <meta name="format-detection" content="telephone=no">
  <link rel="canonical" href="https://brcxx.github.io/brcxxportfolio/" />
  <link rel="stylesheet" href="assets/css/style.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <h1>Bruce Huang網頁設計作品集｜Bruce Huang's Portfolio</h1>
  <div id="app" class="visual">
    <header class="header">
      <div class="container">
        <div class="logo">
          <a href=""><b>b</b>ruce</a>
        </div>
        <nav>
          <ul>
            <li><a href="#about" title="關於bruce">.關於bruce</a></li>
            <li><a href="#portfolio" title="作品設計">.作品設計</a></li>
            <li><a href="#experience" title="工作經歷">.工作經歷</a></li>
            <li><a href="">.專案經歷</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <div id="top"></div>
      <section class="main-visual area">
        <div class="container">
          <div class="visual-content">
            <div class="visual-left" data-aos="fade-right" data-aos-delay="300">
              <p>&#60;&#47;Webiste,UI Designer&gt;</p>
              <div>
                <h2><b>B</b>ruce Huang</h2>
              </div>
              <div>
                <h2>Portfolio</h2>
              </div>
              <ul class="portfolio-link-content">
                <li><a href="https://github.com/brcxx/brcexxportfolio" title="Github"><i
                      class="fab fa-github-square"></i></a></li>
                <li><a href="https://www.behance.net/brucex0x" title="Behance"><i
                      class="fa-brands fa-square-behance"></i></a></li>
                <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
              </ul>
              <div class="visual-scroll-down floating">
                <p>Scroll Down</p>
                <div></div>
              </div>
            </div>
            <div class="visual-right" data-aos="fade-left" data-aos-delay="200">
              <img src="assets/images/porfile-img.png" alt="brucePortfolio" title="brucePortfolio">
              <img class="turnon" src="assets/images/tools.png" alt="bruceSkills" title="brucePortfolio">
            </div>
          </div>
        </div>
      </section>

      <div id="about"></div>
      <section class="about-visual area">
        <div class="container">
          <div class="about-right">
            <h2 class="area-title" data-aos="fade-up">&#60;&#47;About&gt;</h2>
            <ul class="about-tag-content" data-aos="fade-left">
              <li>#天蠍座</li>
              <li>#MBIT-INFJ</li>
              <li>#愛運動</li>
            </ul>
            <div class="about-text-box" data-aos="fade-up">
              <p data-aos="fade-up" data-aos-delay="100">
                我是楠鈞(Bruce)，現任職於三立新聞網(三立電視集團)擔任網頁設計師，工作使用<b>photoshop、illustrator</b>設計視覺及UI介面，再利用<b>html、scss/css、jQuery、vue</b>來製作<b>切版</b>。主要負責執行有關任何三立新聞網站內<b>網頁設計、切版、維護更新</b>，以及三立電視集團入口網站更新，並與企劃及工程師做開發溝通，另外也負責<b>設計banner、節目logo、影音直播素材、廣宣製作物及電子賀卡</b>等事項。
              </p>
              <p data-aos="fade-up" data-aos-delay="200">
                除了平時工作之餘，為更精進<b>前端語言</b>及<b>跨部門溝通能力</b>，也利用下班及假日進修前端相關課程，增進自我的專業實力。進修後也將所學技能與工程師開發討論適時導入專案，藉此優化網站內容及架構，改善UIUX，提供使用者更順暢的瀏覽體驗。
              </p>
            </div>
          </div>

          <div class="about-left" data-aos="fade-right" data-aos-delay="100">
            <img src="assets/images/about-img.png" alt="aboutBruce" title="aboutBruce">
          </div>
        </div>

        <div class="about-learn">
          <div class="container">
            <div class="learn-item" data-aos="flip-up" data-aos-delay="100">
              <img src="assets/images/class-logo.png" alt="聯成電腦" title="聯成電腦課程">
              <p>網頁前端工程師培訓專班</p>
              <div>2022/03 - 2022/07</div>
              <span>培訓技能</span>
              <ul>
                <li>
                  <i class="fa-brands fa-vuejs"></i>
                  <br>
                  vue
                </li>
                <li>
                  <i class="fa-brands fa-sass"></i>
                  <br>
                  sass
                </li>
                <li>
                  <i class="fa-brands fa-git-alt"></i>
                  <br>
                  git
                </li>
                <li>
                  <i class="fa-brands fa-react"></i>
                  <br>
                  基礎React
                </li>
                <li>
                  <img src="assets/images/gsap.webp" alt="gsap" class="gsap">
                  GSAP
                </li>
                <li>
                  <i class="fa-brands fa-figma"></i>
                  <br>
                  figma
                </li>
                <li>
                  <i class="fa-brands fa-google"></i>
                  <br>
                  google analytics
                </li>
                <li>
                  <img src="assets/images/webpack.webp" alt="webpack" class="webpack">
                  webpack
                </li>
              </ul>
            </div>
            <div class="learn-item" data-aos="flip-up" data-aos-delay="200">
              <img src="assets/images/class-logo.png" alt="聯成電腦" title="聯成電腦課程">
              <p>跨平台商業網頁設計</p>
              <div>2019/05 - 2020/02</div>
              <span>培訓技能</span>
              <ul>
                <li>
                  <i class="fa-brands fa-html5"></i>
                  <br>
                  HTML 5
                </li>
                <li>
                  <i class="fa-brands fa-css3-alt"></i>
                  <br>
                  CSS 3
                </li>
                <li>
                  <i class="fa-brands fa-bootstrap"></i>
                  <br>
                  Boostrap 5
                </li>
                <li>
                  <i class="fa-brands fa-square-js"></i>
                  <br>
                  Javascript
                </li>
                <li>
                  <img src="assets/images/jquery.webp" alt="" class="jq">
                  jQuery
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <div id="portfolio"></div>
      <section class="portfolio-visual area">
        <div class="container">
          <h2 class="area-title" data-aos="fade-up">&#60;&#47;Portfolio&gt;</h2>
          <div class="portfolio-tab-block" data-aos="fade-left" data-aos-delay="200">
            <ul class="portfolio-tag-content">
              <li class="tab" @click="activetab='websiteDesign'"
                :class="[ activetab === 'websiteDesign' ? 'active' : '' ]" title="網頁設計">網頁設計</li>
              <li class="tab" @click="activetab='projectDesign'"
                :class="[ activetab === 'projectDesign' ? 'active' : '' ]" title="網頁專案">網頁專案</li>
              <li class="tab" @click="activetab='visualDesign'"
                :class="[ activetab === 'visualDesign' ? 'active' : '' ]" title="視覺設計">視覺設計</li>
            </ul>
          </div>
          <div class="portfolio-list-block" v-if="activetab ==='websiteDesign'" data-aos="fade-up" data-aos-delay="200">
            <ul>
              <li v-for="portfolioWeb in portfolioWebs">
                <a :href="portfolioWeb.link" target="_blank">
                  <img :src="'assets/images/' + portfolioWeb.portfolioImg" :alt="portfolioWeb.tit">
                  <div class="portfolio-title-content" :title="portfolioWeb.tit">
                    <div class="portfolio-title-box">
                      <div class="portfolio-title">
                        <div>
                          <p>{{portfolioWeb.tit}}</p>
                          <div class="date">{{portfolioWeb.date}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="portfolio-list-block" v-if="activetab ==='projectDesign'" data-aos="fade-up" data-aos-delay="200">
            <ul>
              <li v-for="portfolioProject in portfolioProjects">
                <a :href="portfolioProject.link" target="_blank">
                  <img :src="'assets/images/' + portfolioProject.portfolioImg" :alt="portfolioProject.tit">
                  <div class="portfolio-title-content" :title="portfolioProject.tit">
                    <div class="portfolio-title-box">
                      <div class="portfolio-title">
                        <p>{{portfolioProject.tit}}</p>
                        <div class="date">{{portfolioProject.date}}</div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="portfolio-list-block" v-if="activetab ==='visualDesign'" data-aos="fade-up" data-aos-delay="200">
            <ul>
              <li v-for="portfolioDesign in portfolioDesigns">
                <a :href="portfolioDesign.link" target="_blank">
                  <img :src="'assets/images/' + portfolioDesign.portfolioImg" alt="">
                  <div class="portfolio-title-content" :title="portfolioDesign.tit">
                    <div class="portfolio-title-box">
                      <div class="portfolio-title">
                        <p>{{portfolioDesign.tit}}</p>
                        <div class="date">{{portfolioDesign.date}}</div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="btn" title="更多作品">
            <a href="https://www.behance.net/brucex0x" target="_blank">更多作品<i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </section>

      <div id="experience"></div>
      <section class="experience-visual area">
        <div class="container">
          <h2 class="area-title" data-aos="fade-up">&#60;&#47;experience&gt;</h2>
          <div class="experience-block" v-for="(experienceWork,index) in experienceWorks">
            <div class="experience-cover" data-aos="flip-right" data-aos-delay="200">
              <div class="experience-cover-img">
                <img :src="'assets/images/' + experienceWork.img" alt="workCover">
              </div>
            </div>
            <div class="experience-info">
              <ul class="experience-info-content">
                <li class="experience-info-item" data-aos="fade-left" :data-aos-delay="100 * index">
                  <div class="experience-title">{{experienceWork.tit}}</div>
                  <a :href="experienceWork.companyLink" target="_blank" class="company">
                    <div :title="experienceWork.company">{{experienceWork.company}}</div>
                  </a>
                  <div class="experience-time">{{experienceWork.date}}</div>
                  <div class="number" v-html="experienceWork.workList">
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer id="footer">
      <div class="footer-block">
        <div class="container">
          <ul class="contact-content">
            <li class="contact-me">
              <div>
                <h2 class="area-title">&#60;&#47;Contact&gt;</h2>
              </div>
              <a href="mailto:nj.huang2.0@gmail.com"><i class="fa-solid fa-envelope"></i>nj.huang2.0@gmail.com</a>
            </li>
            <ul class="contact-link">
              <li><a href="https://github.com/brcxx/brcexxportfolio"><i class="fab fa-github-square"></i><br>github</a>
              </li>
              <li><a href="https://www.behance.net/brucex0x"><i class="fa-brands fa-square-behance"></i><br>behance</a>
              </li>
              <li><a href=""><i class="fa-brands fa-linkedin"></i><br>linkedin</a></li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="copyright">
        Copyright ©2023 Bruce Huang design all rights reserved
      </div>
    </footer>
    <div id="gotop" title="回到最上面">
      <a href="#">
        <span>
          <i class="fa-solid fa-caret-up">
          </i>
          Top
        </span>
      </a>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 1000,
    });
  </script>
</body>

</html>