/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: Arial, "Noto Sans TC", sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

h1 {
  display: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

ol,
ul,
p {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 30px 0;
  letter-spacing: 0.05em;
}

/* Set core body defaults */
body {
  background: #0269b8;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  background: none;
  outline: none;
  border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media screen and (min-width: 959px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #47b5ff;
    background-color: #47b5ff;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #f2f2f2;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-button {
    background-color: #d5d5d5;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-corner {
    background-color: #d5d5d5;
  }
}
::-moz-selection {
  background: #47b5ff;
  color: #004275;
}
::selection {
  background: #47b5ff;
  color: #004275;
}

.visual {
  min-height: 100vh;
  overflow: hidden;
}

.container {
  width: 1080px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .container {
    width: auto;
    margin: 0 50px;
  }
}
@media screen and (max-width: 960px) {
  .container {
    margin: 0 25px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin: 0 10px;
  }
}

.area {
  padding: 75px 0;
}
@media screen and (max-width: 768px) {
  .area {
    padding: 15px 0;
  }
}

.container b {
  color: #ffc600;
}

.area-title {
  font-size: 90px;
  color: #1f7fcb;
  margin-block: 25px;
  line-height: 1;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .area-title {
    font-size: 13.5vw;
  }
}

.header {
  background: #004275;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .header .container {
    display: block;
    text-align: center;
  }
}
.header .logo {
  padding-top: 10px;
}
.header .logo a {
  font-size: 36px;
  display: inline-block;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 2;
  font-weight: bold;
}
.header .logo a::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #1f7fcb;
  position: absolute;
  left: -15px;
  z-index: -1;
}
.header .logo a b {
  color: #fff;
}
.header nav {
  width: 100%;
}
.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .header nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .header nav ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0;
    white-space: nowrap;
  }
}
.header nav ul li a {
  display: block;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  padding: 20px 1rem;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .header nav ul li a {
    padding: 10px 1rem;
  }
}
.header nav ul li a:hover {
  color: #47b5ff;
}

.main-visual .visual-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .main-visual .visual-content {
    display: block;
  }
}

.visual-content {
  font-size: 60px;
  color: #fff;
  position: relative;
  font-weight: bold;
}
.visual-content .visual-left {
  position: absolute;
  top: 10%;
  line-height: 1.2;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .visual-content .visual-left {
    position: relative;
  }
}
.visual-content .visual-left p {
  color: #1f7fcb;
  font-size: 35px;
  margin-block: 0;
}
@media screen and (max-width: 768px) {
  .visual-content .visual-left p {
    font-size: 6vw;
  }
}
.visual-content .visual-left b {
  color: #fff;
}
.visual-content .visual-right {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}
@media screen and (max-width: 768px) {
  .visual-content .visual-right {
    -webkit-margin-before: 20px;
            margin-block-start: 20px;
  }
}
.visual-content .visual-right > img:nth-child(1) {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1080px) {
  .visual-content .visual-right > img:nth-child(1) {
    width: 80%;
    margin-left: auto;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .visual-content .visual-right > img:nth-child(1) {
    margin: auto;
    width: 100vw;
  }
}
.visual-content .visual-right > img:nth-child(2) {
  width: 483px;
  position: absolute;
  top: calc((100% - 475px) / 2);
  left: calc((100% - 470px) / 2);
}
@media screen and (max-width: 1080px) {
  .visual-content .visual-right > img:nth-child(2) {
    width: 52%;
    top: 6%;
    left: 34.6%;
  }
}
@media screen and (max-width: 768px) {
  .visual-content .visual-right > img:nth-child(2) {
    width: 65.3%;
    top: 5.5%;
    left: 18.19%;
  }
}
@media screen and (max-width: 768px) {
  .visual-content {
    font-size: 12vw;
  }
}

@-webkit-keyframes turnon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12.5% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  37.5% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  67.5% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  80% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  92.5% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes turnon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12.5% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  37.5% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  67.5% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  80% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  92.5% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.turnon {
  -webkit-animation-name: turnon;
          animation-name: turnon;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.visual-left .portfolio-link-content {
  font-size: 16px;
  font-weight: 500;
  margin-block: 15px;
}
.visual-left .portfolio-link-content li {
  display: inline-block;
  padding-inline: 10px;
}
.visual-left .portfolio-link-content li i {
  font-size: 3rem;
  color: #1f7fcb;
  padding: 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.visual-left .portfolio-link-content li i:hover {
  -webkit-transform: translate(3px, -5px);
          transform: translate(3px, -5px);
  color: #fff;
  -webkit-box-shadow: -5px 5px 5px 1px #004275;
          box-shadow: -5px 5px 5px 1px #004275;
}

.visual-left .visual-scroll-down {
  text-align: center;
  margin-block: 50px 0;
}
@media screen and (max-width: 768px) {
  .visual-left .visual-scroll-down {
    margin-block: 15px 0;
  }
}
.visual-left .visual-scroll-down p {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.visual-left .visual-scroll-down > div {
  width: 1px;
  height: 100px;
  background: #fff;
  margin: auto;
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .visual-left .visual-scroll-down > div {
    height: 60px;
  }
}
.visual-left .visual-scroll-down > div::before {
  content: "";
  border-top: #ffc600 solid 12px;
  border-left: transparent solid 12px;
  border-right: transparent solid 12px;
  position: absolute;
  bottom: -20px;
  left: -11px;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.floating {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.about-visual .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .about-visual .container {
    display: block;
  }
}
.about-visual .about-left img {
  margin: auto;
}
.about-visual .about-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
}
@media screen and (max-width: 768px) {
  .about-visual .about-right {
    margin: 0;
  }
}
.about-visual .about-right .about-tag-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-visual .about-right .about-tag-content li {
  background: #004275;
  color: #47b5ff;
  padding: 5px 20px;
  border-radius: 25px;
  margin: 0 5px;
}
@media screen and (max-width: 480px) {
  .about-visual .about-right .about-tag-content li {
    padding: 5px 12px;
  }
}
.about-visual .about-right .about-text-box {
  border-left: 3px solid #ffc600;
}
.about-visual .about-right p {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  line-height: 1.75;
  color: #fff;
}
.about-visual .about-right p:nth-last-child(1) {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
@media screen and (max-width: 768px) {
  .about-visual .about-right p:nth-last-child(1) {
    -webkit-margin-after: 30px;
            margin-block-end: 30px;
  }
}

.about-learn .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
  line-height: 1.75;
}
@media screen and (max-width: 768px) {
  .about-learn .container {
    display: block;
  }
}
.about-learn .container .learn-item {
  border: 1px solid #47b5ff;
  border-radius: 10px;
  margin: 15px;
  text-align: center;
  padding: 15px 0;
  color: #47b5ff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
}
.about-learn .container .learn-item img {
  margin: auto auto 15px;
}
.about-learn .container .learn-item p {
  color: #fff;
  margin: 0;
}
.about-learn .container .learn-item span {
  display: block;
}
.about-learn .container .learn-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 25px;
  line-height: 1.2;
  min-height: 180px;
}
@media screen and (max-width: 768px) {
  .about-learn .container .learn-item ul {
    min-height: auto;
  }
}
.about-learn .container .learn-item ul li {
  width: 25%;
  margin-block: 5px;
}
@media screen and (max-width: 768px) {
  .about-learn .container .learn-item ul li {
    width: 33.3333333333%;
  }
}
.about-learn .container .learn-item ul li i {
  font-size: 2.5rem;
}
.about-learn .container .learn-item .jq {
  max-width: 45px;
  margin: auto;
}
.about-learn .container .learn-item .gsap {
  max-width: 40px;
  margin: auto;
}
.about-learn .container .learn-item .webpack {
  max-width: 40px;
  margin: auto;
}

.portfolio-visual .portfolio-tab-block .portfolio-tag-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #1f7fcb;
  -webkit-margin-after: 30px;
          margin-block-end: 30px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.portfolio-visual .portfolio-tab-block .portfolio-tag-content li {
  -webkit-padding-after: 15px;
          padding-block-end: 15px;
  padding-inline: 20px;
  border-bottom: 3px solid transparent;
  color: #47b5ff;
  line-height: 1;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  cursor: pointer;
  white-space: nowrap;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .portfolio-visual .portfolio-tab-block .portfolio-tag-content li {
    padding-inline: 15px;
  }
}
.portfolio-visual .portfolio-tab-block .portfolio-tag-content li.active {
  color: #ffc600;
  border-bottom: 3px solid #ffc600;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .portfolio-visual .portfolio-tab-block .portfolio-tag-content li.active {
    font-size: 16px;
  }
}
.portfolio-visual .portfolio-tab-block .portfolio-tag-content li:hover {
  color: #ffc600;
  border-bottom: 3px solid #ffc600;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .portfolio-visual .portfolio-tab-block .portfolio-tag-content li:hover {
    font-size: 18px;
  }
}

.portfolio-list-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio-list-block ul li {
  width: 33.3333333333%;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .portfolio-list-block ul li {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .portfolio-list-block ul li {
    width: 100%;
  }
}
.portfolio-list-block ul li a {
  position: relative;
}
.portfolio-list-block ul li img {
  border-radius: 10px;
}
.portfolio-list-block .portfolio-title-content {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0)), color-stop(80%, hsla(0, 0%, 0%, 0.7)), to(#000000));
  background: linear-gradient(-180deg, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.7) 80%, #000000 100%);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .portfolio-list-block .portfolio-title-content {
    position: relative;
    background: none;
    opacity: 1;
    height: auto;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    line-height: 1.25;
    padding-top: 10px;
  }
  .portfolio-list-block .portfolio-title-content .portfolio-title {
    margin-bottom: 0;
  }
}
.portfolio-list-block .portfolio-title-content:hover {
  opacity: 1;
}

.portfolio-title {
  margin-bottom: 20px;
  font-size: 18px;
}
.portfolio-title p {
  margin: 0;
}
.portfolio-title .date {
  font-size: 16px;
}

.btn {
  text-align: center;
}
.btn a {
  display: inline-block;
  border: 2px solid #fff;
  padding: 0 50px;
  margin: 20px 0;
  line-height: 40px;
  border-radius: 30px;
  font-size: 20px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.btn a:hover {
  background: #1f7fcb;
  color: #ffc600;
  border: 2px solid #ffc600;
}
.btn a i {
  padding-left: 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.btn a:hover i {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: #ffc600;
}

.experience-visual .experience-block {
  position: relative;
}
.experience-visual .experience-block .experience-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 48%;
}
@media screen and (max-width: 1080px) {
  .experience-visual .experience-block .experience-cover {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
}

.experience-cover {
  position: relative;
  margin-top: 50px;
}
@media screen and (max-width: 960px) {
  .experience-cover {
    margin-top: 20px;
  }
}
.experience-cover::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #47b5ff;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 10px;
  z-index: -1;
}
.experience-cover .experience-cover-img {
  height: 100%;
  overflow: hidden;
}
.experience-cover .experience-cover-img img {
  border-radius: 10px;
  height: 100%;
}
@media screen and (max-width: 1080px) {
  .experience-cover .experience-cover-img img {
    height: auto;
  }
}
@media screen and (max-width: 1080px) {
  .experience-cover .experience-cover-img {
    width: 100%;
    margin-left: auto;
    margin-right: 0;
  }
}

.experience-info {
  padding-left: 50%;
  position: relative;
}
@media screen and (max-width: 1080px) {
  .experience-info {
    padding-left: 0;
  }
}

.experience-info-content .experience-info-item {
  position: relative;
  padding-left: 30px;
  padding-bottom: 20px;
}
.experience-info-content .experience-info-item a {
  display: inline-block;
}
.experience-info-content .experience-info-item::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #004275;
}
.experience-info-content .experience-info-item::after {
  content: "";
  width: 14px;
  height: 14px;
  background: #ffc600;
  position: absolute;
  top: 3px;
  left: -5px;
  border-radius: 100%;
}

.experience-title {
  font-size: 20px;
  font-weight: bold;
  color: #ffc600;
  padding-bottom: 5px;
}

.company {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.experience-time {
  font-size: 16px;
  color: #47b5ff;
  border-bottom: 1px dashed #47b5ff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.work-content-title {
  color: #004275;
}

.work-list-content .work-list-item {
  color: #004275;
}
.work-list-content .work-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 10px;
}
.work-list-content .work-tags li {
  color: #004275;
  background: #ddf1ff;
  padding: 3px 10px;
  border-radius: 5px;
  margin: 10px 10px 0;
}

.number {
  counter-reset: list-number;
  line-height: 1.25;
}
.number > ul {
  background: #fff;
  border-radius: 0 10px 10px 10px;
  padding: 30px 20px;
}
.number .number-order {
  counter-increment: list-number;
}
.number .number-order::before {
  content: counter(list-number);
  color: #004275;
  font-size: 35px;
  padding-right: 5px;
}

.footer-block .container {
  max-width: 580px;
  margin: 0 auto;
}
.footer-block .container .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 600px) {
  .footer-block .container .contact-content {
    display: block;
  }
}
.footer-block .container .contact-content li {
  width: 49%;
}
@media screen and (max-width: 600px) {
  .footer-block .container .contact-content li {
    width: auto;
  }
}
.footer-block .container .contact-me {
  text-align: center;
  margin: 0;
}
.footer-block .container .contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-me {
  margin-left: 50px;
}
.contact-me i {
  padding-right: 5px;
}
.contact-me .area-title {
  font-size: 24px;
  margin-block: 5px;
}
.contact-me a {
  display: inline-block;
  border-bottom: 1px solid #0269b8;
}
.contact-me a:hover {
  border-bottom: 1px solid #fff;
}

.contact-link {
  text-align: center;
}
.contact-link i {
  color: #004275;
  font-size: 50px;
}
.contact-link a {
  display: inline-block;
  padding: 8px;
  color: #004275;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.contact-link a:hover > i, .contact-link a:hover {
  color: #fff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.copyright {
  background: #004275;
  text-align: center;
  color: #fff;
  line-height: 50px;
}
@media screen and (max-width: 600px) {
  .copyright {
    line-height: 1.25;
    padding-block: 15px;
  }
}

#gotop {
  position: fixed;
  bottom: 30px;
  right: 15px;
  width: 45px;
  height: 45px;
  background: #fff;
  z-index: 9999;
  border-radius: 100%;
  text-align: center;
  border: 1px solid #004275;
  overflow: hidden;
}
#gotop a {
  display: block;
  font-size: 0;
  letter-spacing: 0.1em;
  color: #004275;
  padding-top: 5px;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  #gotop a {
    font-size: 13px;
    padding-top: 0;
  }
}
#gotop a span {
  margin: auto;
  font-weight: bold;
}
#gotop a i {
  color: #004275;
  display: block;
  margin: 0 auto;
  font-size: 34px;
}
@media screen and (max-width: 768px) {
  #gotop a i {
    font-size: 22px;
  }
}